-if @comments.count==0
  .center
    %strong
      =t(:no_comments_yet)
-else
  - @comments.each  do|comment|
    .row
      .col-md-2
        .center
          -if comment.user.image.for_post.blank? || !comment.user.image.for_post.file.exists?
            = image_tag("default.png", size: "50x50", alt: "Avatar",class:"img-circle")
          -else
            = image_tag(comment.user.image.for_post,class:"img-circle")
          %br
          %span.name
            %strong
              =comment.user.username
      -cache ([ comment, locale: I18n.locale])  do
        .col-md-9
          .panel.panel-default
            .panel-heading
              %span.name
              %span.timestamp
                =time_ago_in_words(comment.created_at)
                ago
              .pull-right
                -if user_signed_in?
                  =link_to t(:delete), comment, method: :delete, remote: true
            .panel-body
              %h5
                =comment.content
  .center
    .paginator
      = paginate @comments,:theme => 'twitter-bootstrap-3',
      :params => { :controller => 'posts', :action => 'show', id: post_id}