=form_for(Comment.new ,remote: true ) do |f|
  -if user_signed_in?
    =f.hidden_field :post_id, :value=> post.id
    .comment_cont
      =f.text_area :content,class:"form-control"
      %br
    .actions
      .pull-right
        = f.submit t(:create_comment),class:"btn btn-default"
      %br
  -else
    .pull-right
      %strong
        =t(:To_comment_please)
      =link_to t(:sign_up), new_user_registration_path
  %br
    #error_com
