-@posts.each do|post|
  .row
    .col-md-3
    .col-sm-1
      .center
        -if post.user.image?
          = image_tag(post.user.image.for_post,class:"img-circle")
        -else
          = image_tag(post.user.image.url, size: "50x50", alt: "Avatar",class:"img-circle")
        %br
        %span.name
          %strong
            =post.user.username
    .col-sm-3
      .panel.panel-default
        .panel-heading
          %span.name
            %strong
              =link_to post.title,post_path(post.id)
          %span.timestamp
            =time_ago_in_words(post.created_at)
            ago
          .pull-right
            -if user_signed_in? && current_user.id == post.user.id
              =link_to "delete", post, method: :delete
        .panel-body
          %h5
            =truncate(post.content, length: 250, separator: ' ', omission: '') { link_to  ' ...read more',  post_path(post.id) }


