@import "bootstrap";

html {
 // overflow-y: scroll;
}

body {
  padding-top: 120px;
}

//section {
//  overflow: auto;
//}

//textarea {
//  resize: vertical;
//}

.center {
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
h3 {
  text-align: center;
  color: #999;
}
h5 {
  color: #696969;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/*navbar*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 18px;
  font-weight: bold;
  line-height: 1;
  font-family: "Ms Comics";
}

#logo:hover {
  color: #f3e5e7;
  text-decoration: none;
}
.navbar {
  background-color: #491634;
  border-color: white;
  border-style:dashed none;
  border-width: 5px;
  //margin-left: 10%;
  //margin-right: 10%;
}
  .navbar-inner{
    height: 60px;
  }
  .navbar-right{
    margin-top: 13px;
    color: #c0bbb5;
  }
.panel-default{
  word-wrap: break-word;
}
.timestamp{
  color: #999;
}
.name{
  color: #491634;
//text-align: center;
}
//a
A{
  color: #491634;
}
A:active{
  color: #6a1b60;
}
a:hover, a:focus {
  color: #6a1b60;
}
//pagination
.pagination > li > a, .pagination > li > span {
  color: #491634;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #491634;
  border-color: #491634;
  color: #fff;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #6a1b60;
}

#error{
  color: #710508;
}
.form-control:focus {
  border-color: #6a1b60;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(106, 27, 96, 0.6);
}
#error_explanation{
  color: #710508;
}
.ava{
  margin-left: -80px;
  margin-bottom: -95px;
}

.pull-left
{
  margin-left: 5px;
  margin-right: 5px;
}
.search{
  margin-left: 531px;
  margin-top: -35px;
  //color: #491634;
}
.btn.btn-default.btn-sm{
  font-size: 16px;
  border-radius:1px;


}

.ui-helper-hidden-accessible
{
  display: none;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
  background-color: white;
  width: 600px;
  border: 1px solid #6a1b60;

}
.ui-menu-item{
  list-style-type: none;
}
.ui-menu-item:hover{
  background: rgba(137, 43, 98, 0.3);

}
ul, li {
margin: 5px;
padding: 0;
}
.avatarka{
  text-align: center;
  overflow: hidden;
  width: 130px;
  height: 30px;
  border: 1px solid #d2cfd1;
  background-color: #ffffff;
  color: #000000;
  font-size: 17px;
}
.avatarka:hover{
  background: rgba(133, 135, 137, 0.3);}
.dropdown-menu{
  margin-right: 300px;
}